version: '3.2'

services:
    mysql-server:
        container_name: mysql-server
        ports:
            - "13306:3306"
	    volumes:
            - ./var/lib/mysql:/var/lib/mysql
            - ./etc/my.cnf:/etc/my.cnf
        environment:
            MYSQL_ROOT_PASSWORD: 12345
            MYSQL_DATABASE: wordpress
            MYSQL_USER: wordpress_user
            MYSQL_PASSWORD: secret
        image: percona:5.7
    wordpress:
        image: wordpress:latest
        container_name: wordpress
        ports:
            - "80:80"
        environment:
            WORDPRESS_DB_HOST: mysql-server:3306
            WORDPRESS_DB_USER: wordpress_user
            WORDPRESS_DB_PASSWORD: secret
        depends_on:
            - mysql-server
